@tailwind base;
@tailwind components;
@tailwind utilities;

/*variables*/
:root {
    --header-height: 60px;
    --footer-height: 60px;
    --base_color: #0182f4;
}

.msg_body_me {
    background-color: rgb(243, 243, 243);
    margin-left: auto;
    border-bottom-right-radius: 0 !important;

    .read {
        color: rgb(27, 27, 27);
        margin: 2px;
    }
}

.msg_body_receiver {
    background-color: var(--base_color);
    color: white;
    border-bottom-left-radius: 0 !important;

    .read {
        color: rgb(217, 217, 217);
        margin: 2px;
    }
}

img {
    object-fit: cover;
}

body {
    background-color: white !important;
}

/*chat container*/

.chat_container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 6px;

    z-index: 10;
    background-color: #ffffff;
    @media only screen and (min-width: 768px){
        top: unset;
        height: 90%;
    }

    @media only screen and (min-width: 1024px) {
        position: fixed;
        width: 95%;
        left: 2.5%;
        height: 85%;
        border: 1px solid gray;
        border-radius: 11px;
        margin-top: 15px;
    }
}

/*chat list*/
.chat_list_container {
    border-right: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    @media only screen and (min-width: 768px) {
        width: 269px;
        border-right: 1px solid gray;
    }

    .chat_list_header {
        border-bottom: 1px solid gray;
        height: 60px;
        display: flex;
        flex-wrap: nowrap;

        .title {
            font-size: 19px;
            display: flex;
            padding: 5px 6px;
            align-content: center;
            justify-content: center;
            text-align: center;
        }

        .img_container {
            height: 39px;
            width: 39px;
            margin: auto 2% auto auto;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid gray;
            }
        }
    }

    .chat_list_body {
        .chat_list_item {
            padding: 2px 8px;
            display: flex;
            flex-wrap: nowrap;
            width: 97%;
            margin: 9px 4px;
            border-radius: 14px;
            background-color: rgb(241, 241, 241);
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                background-color: rgb(211, 211, 211);
            }

            .chat_list_img_container {
                height: 47px;
                width: 47px;
                margin: auto;
                maring-left: auto;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }

        .chat_list_info {
            padding: 2px 5px;
            width: 80%;
            display: block;

            .top_row {
                margin: 3px 0;
                width: 100%;
                display: flex;

                .list_username {
                    font-size: 16px;
                    width: 80%;
                }

                .date {
                    font-size: 13px;
                    margin-left: auto;
                    margin-right: 5px;
                }
            }

            .bottom_row {
                display: flex;
                flex-wrap: nowrap;
                width: 100%;

                .message_body {
                    width: 80%;
                    font-weight: lighter;
                    font-family: Roboto, monospace;
                }

                .unread_count {
                    margin-left: auto;
                    font-size: 13px;
                    /*background-color: gainsboro;*/
                    padding: 2px 6px;
                    margin-top: 6px;
                    border-radius: 50%;
                    color: red;
                    font-weight: lighter;
                }
            }
        }
    }
}


/*chat box*/
.chat_box_container {
    position: relative;
    width: 100%;
    height: 100%;

    @media only screen and (min-width: 768px) {
        width: calc(100% - 296px);
    }

    .chat_box_header {
        position: absolute;
        top: 0;
        width: 100%;
        border-bottom: 1px solid gray;
        height: 60px;
        display: flex;
        flex-wrap: nowrap;
    }

    .img_container {
        height: 45px;
        width: 45px;
        margin: auto 0 auto 4px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .return {
        margin: auto 0;
        font-size: 21px;
        padding: 7px 11px;
        cursor: pointer;
    }

    .name {
        margin: auto 5px;
        cursor: pointer;
    }

    .info {
        display: flex;
        flex-wrap: nowrap;
        color: #a2c7ff;
        font-size: 19px;
        margin: auto 0 auto auto;

        .info_item {
            margin: 1px 8px;
            padding: 3px 5px;
            transition: color 0.3s;
            cursor: pointer;
            &:hover {
                color: var(--base_color)
            }
        }
    }

    .chat_box_body {
        overflow-y: scroll;
        position: absolute;
        top: 60px;
        width: 100%;
        padding: 17px 26px 30px;
        height: calc(100% - 90px);
        bottom: var(--footer-height);

        .msg_body {
            border-radius: 9px;
            display: block;
            max-width: 80%;
            margin-top: 11px;
            padding: 4px 7px;
            word-wrap: break-word;

            .msg_body_footer {
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: end;
            }

            .date {
                font-size: 13px;
                padding-right: 7px;

            }
        }
    }

    .chat_box_footer {
        height: 60px;
        width: 100%;
        border-top: 1px solid rgb(233, 233, 233);
        position: absolute;
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        background-color: white;

        .custom_form_group {
            display: flex;
            flex-wrap: nowrap;
            margin: auto 0;
            width: 100%;
            padding: 2px 6px;

            .control {
                margin: auto 0;
                width: 90%;
                border: none;
                outline: 0;
                background-color: rgb(243, 243, 243);
                border-radius: 11px;
                box-shadow: none;

                &:focus {
                    box-shadow: none;
                    outline: none;
                    border-style: none;
                }
            }

            .submit {
                font-size: 18px;
                font-weight: bold;
                padding: 4px 5px;
                color: var(--base_color);
                width: 10%;
                text-align: center;
            }
        }
    }
}

/*List group*/



.list-group-container {
    @apply w-56 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg mt-2;

    @layer components {
        .list-group-item {
            @apply px-4 py-2 border-b rounded-t-lg;
        }
    }
}
